.central-align-style {
    align-items: center;
    margin: 0 auto;
    float: none;
}

.signup-form-style {
    align-items: center;
    margin-left: 20%;
}

.login-form-style {
    max-width: 350px;
}

.button-white{
    color: white;
}

.FAB-23 {
    position: fixed;
    bottom: 50.23px;
    right: 10.23px;
  }