.central-align-style {
    align-items: center;
    margin: 0 auto;
    float: none;
}

.signup-form-style {
    align-items: center;
    margin-left: 20%;
<<<<<<< HEAD
    width: 100%;
=======
    
}

.login-form-style{
    max-width: 350px;
>>>>>>> 4f050ccb8e5aa6d8dae537399b7a406e30cfa034
}